# Data Cleaning and Preparation

In [1]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [2]:
pd.options.display.max_rows =10

## Handling Missing Data

Missing data occurs commonly in many data analysis applications. One of the goals of pandas is to make working with missing data as painless as possible. For example, all of the descriptive statistics on pandas objects exclude missing data by default. The way that missing data is represented in pandas objects is somewhat imperfect, but it is functional for a lot of users. For numeric data, pandas uses the floating-point value NaN (Not a Number) to represent missing data. We call this a sentinel value that can be easily detected:

(Page 191).

In [3]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [4]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In pandas, we’ve adopted a convention used in the R programming language by refer‐ ring to missing data as NA, which stands for not available. In statistics applications, NA data may either be data that does not exist or that exists but was not observed (through problems with data collection, for example). When cleaning up data for analysis, it is often important to do analysis on the missing data itself to identify data collection problems or potential biases in the data caused by missing data.

(Page 192).

In [5]:
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

There is work ongoing in the pandas project to improve the internal details of how missing data is handled, but the user API functions, like pandas.isnull, abstract away many of the annoying details. See Table 7-1 for a list of some functions related to missing data handling.

(Page 192).

![T7-1](images/T7-1.png)

### Filtering Out Missing Data

In [6]:
from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [7]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [8]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()

In [9]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [10]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [11]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [12]:
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [13]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [14]:
df = pd.DataFrame(np.random.randn(7, 3))
df

          0         1         2
0 -0.204708  0.478943 -0.519439
1 -0.555730  1.965781  1.393406
2  0.092908  0.281746  0.769023
3  1.246435  1.007189 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [15]:
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0 -0.204708       NaN       NaN
1 -0.555730       NaN       NaN
2  0.092908       NaN  0.769023
3  1.246435       NaN -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [16]:
df.dropna()

          0         1         2
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

A related way to filter out DataFrame rows tends to concern time series data. Suppose you want to keep only rows containing a certain number of observations. You can indicate this with the thresh argument:

(Page 194).

In [17]:
df.dropna(thresh=2)

          0         1         2
2  0.092908       NaN  0.769023
3  1.246435       NaN -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

### Filling In Missing Data

In [18]:
df.fillna(0)

          0         1         2
0 -0.204708  0.000000  0.000000
1 -0.555730  0.000000  0.000000
2  0.092908  0.000000  0.769023
3  1.246435  0.000000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

Calling fillna with a dict, you can use a different fill value for each column:

(Page 195).

In [19]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0 -0.204708  0.500000  0.000000
1 -0.555730  0.500000  0.000000
2  0.092908  0.500000  0.769023
3  1.246435  0.500000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

fillna returns a new object, but you can modify the existing object in-place:

(Page 195).

In [20]:
_ = df.fillna(0, inplace=True)
df

          0         1         2
0 -0.204708  0.000000  0.000000
1 -0.555730  0.000000  0.000000
2  0.092908  0.000000  0.769023
3  1.246435  0.000000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [21]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0  0.476985  3.248944 -1.021228
1 -0.577087  0.124121  0.302614
2  0.523772       NaN  1.343810
3 -0.713544       NaN -2.370232
4 -1.860761       NaN       NaN
5 -1.265934       NaN       NaN

In [22]:
df.fillna(method='ffill')

          0         1         2
0  0.476985  3.248944 -1.021228
1 -0.577087  0.124121  0.302614
2  0.523772  0.124121  1.343810
3 -0.713544  0.124121 -2.370232
4 -1.860761  0.124121 -2.370232
5 -1.265934  0.124121 -2.370232

In [23]:
df.fillna(method='ffill', limit=2)

          0         1         2
0  0.476985  3.248944 -1.021228
1 -0.577087  0.124121  0.302614
2  0.523772  0.124121  1.343810
3 -0.713544  0.124121 -2.370232
4 -1.860761       NaN -2.370232
5 -1.265934       NaN -2.370232

In [24]:
data = pd.Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

![T7-2](images/T7-2.png)

## Data Transformation

### Removing Duplicates

In [25]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [26]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [27]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

Both of these methods by default consider all of the columns; alternatively, you can specify any subset of them to detect duplicates. Suppose we had an additional column of values and wanted to filter duplicates only based on the 'k1' column:

(Page 198).

In [28]:
data['v1'] = range(7)
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [29]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### Transforming Data Using a Function or Mapping

In [30]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [31]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

meat_to_animal

{'bacon': 'pig',
 'corned beef': 'cow',
 'honey ham': 'pig',
 'nova lox': 'salmon',
 'pastrami': 'cow',
 'pulled pork': 'pig'}

The map method on a Series accepts a function or dict-like object containing a map‐ ping, but here we have a small problem in that some of the meats are capitalized and others are not. Thus, we need to convert each value to lowercase using the str.lower Series method:

(Page 199).

In [32]:
lowercased = data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [33]:
data['animal'] = lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [34]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

> Using map is a convenient way to perform element-wise transformations and other data cleaning–related operations.

As you’ve already seen, map can be used to modify a subset of values in an object but replace provides a simpler and more flexible way to do so. Let’s con‐ sider this Series

In [35]:
data['food'].replace(meat_to_animal)

0         pig
1         pig
2         pig
3    Pastrami
4         cow
5       Bacon
6         cow
7         pig
8      salmon
Name: food, dtype: object

### Replacing Values

Filling in missing data with the fillna method is a special case of more general value replacement. As you’ve already seen, map can be used to modify a subset of values in an object but replace provides a simpler and more flexible way to do so. Let’s con‐ sider this Series:

(Page 200).

In [36]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [37]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [38]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [39]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [40]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

The data.replace method is distinct from ***data.str.replace***, which performs string substitution element-wise. We look at these string methods on Series later in the chapter.

### Renaming Axis Indexes

In [41]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

Like a Series, the axis indexes have a map method:

(Page 202).

In [42]:
data.index.map(lambda x : x[:4].upper())

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [43]:
data.index = data.index.map(lambda x : x[:4].upper())
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

If you want to create a transformed version of a dataset without modifying the origi‐ nal, a useful method is rename:

(Page 202).

In [44]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

Notably, rename can be used in conjunction with a dict-like object providing new val‐ ues for a subset of the axis labels:

(Page 202).

In [82]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

rename saves you from the chore of copying the DataFrame manually and assigning to its index and columns attributes. Should you wish to modify a dataset in-place, pass inplace=True:

(Page 202).

In [83]:
data.rename(index={'OHIO': 'INDIANA'}, inplace=True)
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

### Discretization and Binning

Continuous data is often discretized or otherwise separated into “bins” for analysis. Suppose you have data about a group of people in a study, and you want to group them into discrete age buckets:

(Page 203).

In [45]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [46]:
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

The object pandas returns is a special Categorical object. The output you see describes the bins computed by pandas.cut. You can treat it like an array of strings indicating the bin name; internally it contains a categories array specifying the dis‐ tinct category names along with a labeling for the ages data in the codes attribute:

(Page 203).

In [47]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [48]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [49]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

Note that pd.value_counts(cats) are the bin counts for the result of pandas.cut. 

Consistent with mathematical notation for intervals, a parenthesis means that the side is open, while the square bracket means it is closed (inclusive). You can change which side is closed by passing right=False:

(Page 203).

In [50]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [51]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

If you pass an integer number of bins to cut instead of explicit bin edges, it will com‐ pute equal-length bins based on the minimum and maximum values in the data. Consider the case of some uniformly distributed data chopped into fourths:

(Page 204).

In [52]:
data = np.random.rand(20)
cats = pd.cut(data, 4, precision=2)

In [53]:
pd.value_counts(cats)

(0.34, 0.55]    6
(0.76, 0.97]    5
(0.55, 0.76]    5
(0.12, 0.34]    4
dtype: int64

A closely related function, qcut, bins the data based on sample quantiles. Depending on the distribution of the data, using cut will not usually result in each bin having the same number of data points. Since qcut uses sample quantiles instead, by definition you will obtain roughly equal-size bins:

(Page 204).

In [54]:
data = np.random.randn(1000)  # Normally distributed
cats = pd.qcut(data, 4)  # Cut into quartiles
cats

[(-0.0265, 0.62], (0.62, 3.928], (-0.68, -0.0265], (0.62, 3.928], (-0.0265, 0.62], ..., (-0.68, -0.0265], (-0.68, -0.0265], (-2.9499999999999997, -0.68], (0.62, 3.928], (-0.68, -0.0265]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.68] < (-0.68, -0.0265] < (-0.0265, 0.62] < (0.62, 3.928]]

In [55]:
pd.value_counts(cats)

(0.62, 3.928]                   250
(-0.0265, 0.62]                 250
(-0.68, -0.0265]                250
(-2.9499999999999997, -0.68]    250
dtype: int64

In [56]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])

[(-0.0265, 1.286], (-0.0265, 1.286], (-1.187, -0.0265], (-0.0265, 1.286], (-0.0265, 1.286], ..., (-1.187, -0.0265], (-1.187, -0.0265], (-2.9499999999999997, -1.187], (-0.0265, 1.286], (-1.187, -0.0265]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -1.187] < (-1.187, -0.0265] < (-0.0265, 1.286] < (1.286, 3.928]]

### Detecting and Filtering Outliers

Filtering or transforming outliers is largely a matter of applying array operations. Consider a DataFrame with some normally distributed data:

(Page 205).

In [57]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.049091     0.026112    -0.002544    -0.051827
std       0.996947     1.007458     0.995232     0.998311
min      -3.645860    -3.184377    -3.745356    -3.428254
25%      -0.599807    -0.612162    -0.687373    -0.747478
50%       0.047101    -0.013609    -0.022158    -0.088274
75%       0.756646     0.695298     0.699046     0.623331
max       2.653656     3.525865     2.735527     3.366626

In [58]:
col = data[2]
col

0     -0.612905
1      0.434304
2      0.339231
3      2.406483
4     -0.395813
         ...
995    1.229042
996    0.409304
997   -0.345727
998    1.128420
999   -2.314042
Name: 2, Length: 1000, dtype: float64

Suppose you wanted to find values in one of the columns exceeding 3 in absolute value:

(Page 205).

In [59]:
col[np.abs(col) > 3]

41    -3.399312
136   -3.745356
Name: 2, dtype: float64

To select all rows having a value exceeding 3 or –3, you can use the any method on a boolean DataFrame:

(Page 206).

In [63]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
41   0.457246 -0.025907 -3.399312 -0.974657
60   1.951312  3.260383  0.963301  1.201206
136  0.508391 -0.196713 -3.745356 -1.520113
235 -0.242459 -3.056990  1.918403 -0.578828
258  0.682841  0.326045  0.425384 -3.428254
322  1.179227 -3.184377  1.369891 -1.074833
544 -3.548824  1.553205 -2.186301  1.277104
635 -0.578093  0.193299  1.397822  3.366626
782 -0.207434  3.525865  0.283070  0.544635
803 -3.645860  0.255475 -0.549574 -1.907459

Values can be set based on these criteria. Here is code to cap values outside the inter‐ val –3 to 3:

(Page 206).

In [64]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.050286     0.025567    -0.001399    -0.051765
std       0.992920     1.004214     0.991414     0.995761
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.599807    -0.612162    -0.687373    -0.747478
50%       0.047101    -0.013609    -0.022158    -0.088274
75%       0.756646     0.695298     0.699046     0.623331
max       2.653656     3.000000     2.735527     3.000000

The statement np.sign(data) produces 1 and –1 values based on whether the values in data are positive or negative:

(Page 206).

In [65]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0 -1.0  1.0
1  1.0 -1.0  1.0 -1.0
2  1.0  1.0  1.0 -1.0
3 -1.0 -1.0  1.0 -1.0
4 -1.0  1.0 -1.0 -1.0

### Permutation and Random Sampling

Permuting (randomly reordering) a Series or the rows in a DataFrame is easy to do using the numpy.random.permutation function. Calling permutation with the length of the axis you want to permute produces an array of integers indicating the new ordering:

(Page 206).

In [66]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [67]:
sampler = np.random.permutation(5)
sampler

array([3, 1, 4, 2, 0])

That array can then be used in iloc-based indexing or the equivalent take function:

(Page 207).

In [68]:
df.take(sampler)

    0   1   2   3
3  12  13  14  15
1   4   5   6   7
4  16  17  18  19
2   8   9  10  11
0   0   1   2   3

In [69]:
df.sample(n=3)

    0   1   2   3
3  12  13  14  15
4  16  17  18  19
2   8   9  10  11

To generate a sample with replacement (to allow repeat choices), pass replace=True to sample:

(Page 207).

In [70]:
choices = pd.Series([5, 7, -1, 6, 4])

In [71]:
draws = choices.sample(n=10, replace=True)
draws

4    4
1    7
4    4
2   -1
0    5
3    6
1    7
4    4
0    5
4    4
dtype: int64

### Computing Indicator/Dummy Variables

Another type of transformation for statistical modeling or machine learning applica‐ tions is converting a categorical variable into a “dummy” or “indicator” matrix. If a column in a DataFrame has k distinct values, you would derive a matrix or Data‐ Frame with k columns containing all 1s and 0s. pandas has a get_dummies function for doing this, though devising one yourself is not difficult. Let’s return to an earlier example DataFrame:

(Page 208).

In [72]:
df = pd.DataFrame({'key':   ['b','b','a','c','a','b'],
                   'data1': range(6)})
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [73]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [74]:
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [75]:
mnames = ['movie_id', 'title', 'genres']

In [76]:
movies = pd.read_table('datasets/movielens/movies.dat', sep='::', 
                        header=None, names=mnames)
movies

C:\Users\cl44343\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

Adding indicator variables for each genre requires a little bit of wrangling. First, we extract the list of unique genres in the dataset:

(Page 209).

In [82]:
all_genres = []
all_genres.extend(movies.genres.apply(lambda x: x.split('|')))

In [83]:
all_genres

[['Animation', "Children's", 'Comedy'],
 ['Adventure', "Children's", 'Fantasy'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama'],
 ['Comedy'],
 ['Action', 'Crime', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Adventure', "Children's"],
 ['Action'],
 ['Action', 'Adventure', 'Thriller'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy', 'Horror'],
 ['Animation', "Children's"],
 ['Drama'],
 ['Action', 'Adventure', 'Romance'],
 ['Drama', 'Thriller'],
 ['Drama', 'Romance'],
 ['Thriller'],
 ['Comedy'],
 ['Action'],
 ['Action', 'Comedy', 'Drama'],
 ['Crime', 'Drama', 'Thriller'],
 ['Thriller'],
 ['Drama', 'Sci-Fi'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Drama'],
 ['Romance'],
 ['Adventure', 'Sci-Fi'],
 ['Drama'],
 ['Drama'],
 ['Drama', 'Sci-Fi'],
 ['Adventure', 'Romance'],
 ["Children's", 'Comedy', 'Drama'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Documentary'],
 ['Comedy'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Drama', 'War'],
 ['Action', 'Crime', 'Drama'],
 ['Drama'],
 ['Action', 'Adventure'],
 ['Comedy', 'Drama'],
 ['Drama', 'Romance'],
 ['Crime', 'Thriller'],
 ['Animation', "Children's", 'Musical', 'Romance'],
 ['Drama', 'Romance'],
 ['Crime', 'Thriller'],
 ['Action', 'Drama', 'Thriller'],
 ['Comedy'],
 ['Drama'],
 ["Children's", 'Comedy'],
 ['Drama'],
 ['Adventure', "Children's", 'Fantasy'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Drama', 'Mystery'],
 ['Adventure', "Children's", 'Fantasy'],
 ['Drama', 'Thriller'],
 ['Drama'],
 ['Comedy'],
 ['Comedy', 'Romance'],
 ['Comedy'],
 ['Sci-Fi', 'Thriller'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Comedy'],
 ['Action', 'Comedy', 'Crime', 'Horror', 'Thriller'],
 ['Action'],
 ['Comedy', 'Drama'],
 ['Drama', 'Musical'],
 ['Drama', 'Romance'],
 ['Comedy', 'Drama'],
 ['Sci-Fi', 'Thriller'],
 ['Documentary'],
 ['Drama'],
 ['Drama', 'Thriller'],
 ['Drama'],
 ['Crime', 'Drama', 'Romance'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ['Drama', 'Romance'],
 ['Adventure', 'Drama'],
 ["Children's", 'Comedy'],
 ['Comedy'],
 ['Action', 'Thriller'],
 ['Drama'],
 ['Drama', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Action', 'Thriller'],
 ['Comedy'],
 ['Drama'],
 ['Action', 'Thriller'],
 ['Documentary'],
 ['Drama', 'Thriller'],
 ['Comedy'],
 ['Comedy'],
 ['Thriller'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Comedy', 'Drama'],
 ['Adventure', "Children's", 'Comedy', 'Musical'],
 ['Documentary'],
 ['Comedy'],
 ['Action', 'Drama', 'War'],
 ['Drama', 'Thriller'],
 ['Action', 'Adventure', 'Crime'],
 ['Drama', 'Mystery'],
 ['Drama'],
 ['Comedy'],
 ['Documentary'],
 ['Crime'],
 ['Comedy', 'Romance'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Drama', 'Mystery', 'Romance'],
 ['Drama'],
 ['Comedy'],
 ['Adventure', "Children's", 'Fantasy'],
 ['Drama'],
 ['Documentary'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Thriller'],
 ['Comedy', 'Drama'],
 ['Documentary'],
 ['Comedy'],
 ['Documentary'],
 ['Documentary'],
 ['Drama'],
 ['Action', 'Drama'],
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Comedy'],
 ['Action'],
 ['Adventure', "Children's"],
 ['Drama'],
 ['Drama'],
 ['Crime', 'Drama', 'Thriller'],
 ['Drama'],
 ['Drama', 'Romance', 'War'],
 ['Horror'],
 ['Action', 'Adventure', 'Comedy', 'Crime'],
 ['Drama'],
 ['Drama', 'War'],
 ['Comedy'],
 ['Comedy', 'War'],
 ['Adventure', "Children's"],
 ['Drama'],
 ['Action', 'Adventure', 'Mystery', 'Sci-Fi'],
 ['Drama', 'Thriller', 'War'],
 ['Documentary'],
 ['Action', 'Romance', 'Thriller'],
 ['Crime', 'Film-Noir', 'Mystery', 'Thriller'],
 ['Action', 'Thriller'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Action', 'Adventure', 'Drama', 'Romance'],
 ['Adventure', "Children's", 'Drama'],
 ['Action', 'Crime', 'Thriller'],
 ['Comedy'],
 ['Action', 'Sci-Fi', 'Thriller'],
 ['Action', 'Adventure', 'Sci-Fi'],
 ['Comedy'],
 ['Drama'],
 ['Comedy'],
 ['Horror'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Action', "Children's"],
 ['Drama', 'Romance'],
 ['Thriller'],
 ['Drama'],
 ['Sci-Fi', 'Thriller'],
 ['Comedy'],
 ['Comedy'],
 ['Horror'],
 ['Comedy'],
 ['Thriller'],
 ['Drama'],
 ['Documentary'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Drama', 'Romance'],
 ['Horror', 'Sci-Fi'],
 ['Drama'],
 ['Action', 'Crime', 'Sci-Fi'],
 ['Drama', 'Musical'],
 ['Thriller'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Action'],
 ['Comedy', 'Drama'],
 ['Documentary'],
 ['Drama', 'Romance'],
 ['Action', 'Adventure'],
 ['Drama'],
 ['Western'],
 ['Drama'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Drama', 'Thriller'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Horror'],
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama', 'Thriller'],
 ['Thriller'],
 ['Action'],
 ['Comedy'],
 ['Drama', 'Thriller'],
 ['Drama', 'Thriller'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Romance'],
 ['Adventure', "Children's"],
 ['Animation', "Children's", 'Comedy', 'Romance'],
 ['Thriller'],
 ["Children's", 'Drama'],
 ['Drama', 'Musical'],
 ['Comedy'],
 ['Animation', "Children's"],
 ['Crime', 'Drama'],
 ['Documentary'],
 ['Drama', 'Fantasy', 'Romance', 'Thriller'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ["Children's", 'Comedy'],
 ['Action'],
 ['Comedy', 'Romance'],
 ['Drama', 'Horror'],
 ['Drama'],
 ['Comedy'],
 ['Comedy', 'Sci-Fi'],
 ['Mystery', 'Thriller'],
 ['Adventure', "Children's", 'Comedy', 'Fantasy', 'Romance'],
 ['Crime', 'Drama', 'Thriller'],
 ['Action', 'Adventure', 'Fantasy', 'Sci-Fi'],
 ['Drama'],
 ["Children's", 'Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Drama', 'Romance', 'War', 'Western'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Drama'],
 ['Drama', 'Horror'],
 ['Comedy'],
 ['Comedy'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Comedy'],
 ['Drama'],
 ['Drama', 'Thriller'],
 ['Drama'],
 ['Drama'],
 ['Crime', 'Drama'],
 ['Action', 'Crime'],
 ['Drama', 'Horror'],
 ['Action', 'Sci-Fi', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Action', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Crime', 'Drama'],
 ['Thriller'],
 ['Action', 'Drama', 'Thriller'],
 ['Crime', 'Drama', 'Romance', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Romance'],
 ['Crime', 'Drama'],
 ['Drama'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Drama', 'Romance'],
 ['Action', 'Adventure', 'Western'],
 ['Comedy', 'Drama'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Comedy'],
 ['Horror', 'Thriller'],
 ['Comedy'],
 ['Animation', "Children's"],
 ['Drama'],
 ['Action'],
 ['Action', 'Adventure', 'Sci-Fi'],
 ["Children's", 'Comedy', 'Fantasy'],
 ['Drama'],
 ['Thriller'],
 ['Film-Noir', 'Thriller'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ['Comedy'],
 ['Comedy'],
 ['Drama'],
 ['Action', 'Comedy', 'Musical', 'Sci-Fi'],
 ['Horror'],
 ['Action', 'Adventure', 'Sci-Fi'],
 ['Comedy', 'Horror'],
 ['Drama'],
 ['Horror', 'Sci-Fi'],
 ['Comedy'],
 ['Drama'],
 ['Mystery', 'Thriller'],
 ['Drama', 'War'],
 ['Drama'],
 ['Sci-Fi', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Adventure', 'Drama'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ["Children's"],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Drama', 'Musical'],
 ['Drama'],
 ['Comedy'],
 ['Action', 'Adventure', 'Thriller'],
 ['Drama', 'Mystery', 'Thriller'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy'],
 ['Action', 'Romance', 'Thriller'],
 ['Drama'],
 ["Children's", 'Comedy'],
 ['Comedy', 'Romance', 'War'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Comedy', 'Drama', 'Romance'],
 ['Action', 'Comedy'],
 ['Drama', 'Romance'],
 ['Adventure', "Children's", 'Romance'],
 ['Documentary'],
 ['Animation', "Children's", 'Musical'],
 ['Drama'],
 ['Horror'],
 ['Comedy', 'Crime', 'Fantasy'],
 ['Action', 'Comedy', 'Western'],
 ['Drama'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Drama'],
 ['Thriller'],
 ["Children's", 'Comedy'],
 ['Drama'],
 ['Action', 'Thriller'],
 ['Action', 'Romance', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Action', 'Sci-Fi'],
 ['Action', 'Adventure', 'Comedy', 'Romance'],
 ['Drama'],
 ['Drama', 'Horror'],
 ['Western'],
 ['Action'],
 ['Drama'],
 ['Drama'],
 ['Action', 'Comedy'],
 ['Drama'],
 ['Drama', 'Romance', 'War'],
 ['Action', 'Comedy', 'Drama'],
 ['Crime', 'Drama'],
 ['Adventure', "Children's"],
 ['Action'],
 ['Action'],
 ['Drama'],
 ['Drama'],
 ['Horror'],
 ['Documentary'],
 ['Drama'],
 ['Drama'],
 ['Action', 'Thriller'],
 ['Comedy'],
 ['Comedy', 'Crime', 'Drama'],
 ['Documentary'],
 ['Action', 'Sci-Fi'],
 ['Drama'],
 ['Horror', 'Thriller'],
 ['Drama'],
 ['Drama'],
 ['Comedy'],
 ['Comedy'],
 ['Drama'],
 ['Comedy'],
 ['Comedy'],
 ['Comedy', 'Thriller'],
 ['Western'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Comedy'],
 ['Action', 'Comedy'],
 ['Adventure', "Children's"],
 ['Thriller'],
 ['Action', 'Thriller'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Horror', 'Sci-Fi', 'Thriller'],
 ['Mystery', 'Romance', 'Thriller'],
 ['Drama'],
 ['Comedy'],
 ['Drama'],
 ['Crime', 'Drama'],
 ['Comedy', 'Western'],
 ['Comedy'],
 ['Action', 'Adventure', 'Crime'],
 ['Comedy', 'Sci-Fi'],
 ['Drama', 'Thriller'],
 ['Comedy'],
 ['Action', 'Comedy'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Comedy'],
 ['Action', 'Sci-Fi'],
 ['Documentary'],
 ['Comedy', 'Romance'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Drama', 'Mystery', 'Romance'],
 ['Drama'],
 ['Comedy'],
 ['Drama', 'Thriller'],
 ['Adventure', "Children's", 'Drama'],
 ['Drama'],
 ['Action', 'Thriller'],
 ['Drama', 'Western'],
 ['Action'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Action', 'Adventure'],
 ['Crime', 'Drama', 'Thriller'],
 ['Action', 'Adventure', 'Crime', 'Thriller'],
 ['Action', 'Drama', 'War'],
 ['Action', 'Comedy', 'War'],
 ['Comedy'],
 ['Comedy', 'Romance'],
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama'],
 ['Comedy', 'War'],
 ['Action', 'Thriller'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Comedy'],
 ['Action'],
 ['Action', 'Adventure', 'Sci-Fi'],
 ['Drama', 'Thriller'],
 ['Thriller'],
 ['Drama'],
 ['Adventure', "Children's"],
 ['Action', 'Comedy'],
 ['Comedy'],
 ['Comedy', 'Western'],
 ['Drama'],
 ['Comedy'],
 ['Thriller'],
 ['Drama'],
 ['Comedy', 'Mystery'],
 ['Action', 'Crime', 'Drama'],
 ['Action', 'Thriller'],
 ['Drama'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy', 'Romance'],
 ['Drama', 'Romance'],
 ['Comedy', 'Romance'],
 ['Comedy'],
 ['Drama'],
 ['Action', "Children's"],
 ['Drama'],
 ['Action', 'Sci-Fi'],
 ['Comedy'],
 ['Drama'],
 ['Action', 'Drama'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Action', 'Drama'],
 ['Horror', 'Sci-Fi'],
 ['Comedy', 'Mystery', 'Romance'],
 ['Comedy'],
 ['Drama'],
 ['Comedy', 'Drama', 'War'],
 ['Action', 'Drama', 'Mystery'],
 ['Comedy'],
 ['Sci-Fi', 'Thriller'],
 ['Comedy'],
 ['Crime', 'Thriller'],
 ['Action', 'Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama', 'War'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ["Children's", 'Drama'],
 ['Comedy', 'Crime', 'Horror'],
 ['Action'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Thriller'],
 ['Film-Noir', 'Sci-Fi'],
 ['Comedy'],
 ['Comedy', 'Romance', 'Thriller'],
 ['Action'],
 ['Drama'],
 ['Action', 'Adventure', "Children's", 'Sci-Fi'],
 ['Action', 'Adventure', 'Thriller'],
 ['Action'],
 ['Documentary'],
 ['Comedy', 'Romance'],
 ["Children's", 'Comedy', 'Musical'],
 ['Action', 'Adventure', 'Comedy'],
 ['Western'],
 ['Thriller'],
 ['Action', 'Crime', 'Romance'],
 ['Documentary'],
 ['Drama'],
 ['Action', 'Adventure', 'Animation', "Children's", 'Fantasy'],
 ['Comedy'],
 ['Drama'],
 ['Thriller'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Comedy'],
 ['Horror'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ["Children's", 'Comedy'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ["Children's", 'Comedy'],
 ['Comedy'],
 ['Adventure', "Children's"],
 ['Drama', 'Mystery'],
 ['Thriller'],
 ['Drama'],
 ['Documentary'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Comedy'],
 ["Children's", 'Comedy'],
 ['Comedy', 'Romance', 'Thriller'],
 ['Animation', "Children's", 'Comedy', 'Musical'],
 ['Action', 'Sci-Fi', 'Thriller'],
 ['Adventure', 'Drama', 'Western'],
 ['Action', 'Drama', 'Thriller'],
 ['Action', 'Adventure', 'Crime', 'Drama'],
 ['Drama', 'Thriller'],
 ['Animation', "Children's", 'Musical'],
 ['Animation', "Children's", 'Musical'],
 ['Animation', "Children's"],
 ['Comedy', 'Romance'],
 ['Comedy'],
 ['Western'],
 ['Thriller'],
 ['Drama'],
 ['Documentary'],
 ['Comedy'],
 ['Documentary'],
 ['Drama', 'Romance'],
 ['Horror'],
 ['Drama'],
 ['Crime', 'Drama', 'Thriller'],
 ['Adventure', "Children's"],
 ['Action', 'Adventure', 'Animation', 'Horror', 'Sci-Fi'],
 ['Action', 'Horror', 'Sci-Fi'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Drama', 'Thriller'],
 ['Drama'],
 ['Animation', "Children's"],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Romance'],
 ['Action', 'Drama', 'Thriller'],
 ['Drama'],
 ['Comedy'],
 ['Drama', 'Thriller'],
 ['Drama', 'Thriller'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Animation', "Children's", 'Musical'],
 ['War'],
 ['Comedy'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Comedy'],
 ['Romance'],
 ['Comedy'],
 ['Drama', 'Thriller'],
 ['Comedy'],
 ['Drama'],
 ['Comedy'],
 ['Comedy'],
 ['Drama'],
 ['Drama', 'War'],
 ['Action', 'Adventure', 'Mystery'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Comedy'],
 ['Mystery'],
 ['Action', 'Adventure', 'Fantasy'],
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Crime', 'Thriller'],
 ['Drama'],
 ['Animation', "Children's", 'Musical'],
 ['Thriller'],
 ['Comedy'],
 ['Comedy'],
 ['War'],
 ['Drama'],
 ['Action'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Sci-Fi'],
 ['Drama'],
 ['Adventure', 'Animation', "Children's", 'Comedy', 'Fantasy'],
 ['Adventure', 'Sci-Fi'],
 ['Action', 'Drama', 'Thriller'],
 ['Drama'],
 ['Drama', 'Thriller'],
 ['Drama'],
 ['Sci-Fi'],
 ['Crime'],
 ['Documentary', 'Drama'],
 ['Documentary'],
 ['Drama'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Action', 'Adventure', 'Comedy', 'War'],
 ['Romance'],
 ['Comedy', 'Romance'],
 ['Action', 'Sci-Fi', 'Thriller'],
 ['Drama'],
 ['Action'],
 ['Mystery', 'Thriller'],
 ['Thriller'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Drama'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Action', 'Adventure'],
 ['Comedy'],
 ['Drama'],
 ['Crime', 'Film-Noir', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Animation', "Children's"],
 ['Comedy'],
 ['Adventure', "Children's"],
 ['Drama'],
 ['Drama'],
 ['Western'],
 ['Drama'],
 ['Crime'],
 ['Comedy'],
 ['Comedy', 'Sci-Fi'],
 ['Comedy'],
 ['Animation'],
 ['Drama'],
 ['Documentary'],
 ['Drama'],
 ['Drama', 'Horror'],
 ['Comedy'],
 ['Drama'],
 ['Documentary'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Mystery', 'Thriller'],
 ['Crime'],
 ['Action', 'Adventure', 'Thriller'],
 ['Comedy'],
 ['Comedy', 'Horror'],
 ['Action', 'Adventure', 'Romance', 'Thriller'],
 ['Action', 'Sci-Fi'],
 ['Drama'],
 ['Comedy'],
 ['Animation', 'Sci-Fi'],
 ['Horror', 'Thriller'],
 ['Comedy'],
 ['Drama'],
 ['Animation', 'Comedy', 'Thriller'],
 ['Film-Noir'],
 ['Comedy'],
 ['Action', 'Sci-Fi', 'Thriller'],
 ['Drama'],
 ['Sci-Fi', 'War'],
 ['Comedy'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama'],
 ['Adventure', "Children's"],
 ["Children's", 'Drama'],
 ['Documentary'],
 ['Drama'],
 ['Drama'],
 ['Documentary'],
 ['War'],
 ['Adventure'],
 ['Comedy', 'Crime'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Documentary'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Horror'],
 ['Comedy', 'Drama'],
 ['War'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Action', 'Sci-Fi', 'War'],
 ['Drama'],
 ['Thriller'],
 ['Animation', "Children's", 'Musical'],
 ['Comedy'],
 ['Comedy'],
 ['Action', 'Thriller'],
 ['Documentary'],
 ['Comedy', 'Fantasy', 'Romance', 'Sci-Fi'],
 ['Drama'],
 ['Drama'],
 ['Documentary'],
 ['Fantasy'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Drama'],
 ['Comedy'],
 ['Action', 'Adventure', 'Thriller'],
 ['Comedy', 'Horror'],
 ['Drama', 'Mystery'],
 ["Children's", 'Comedy'],
 ['Drama', 'Romance'],
 ['Romance'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Adventure', "Children's"],
 ['Action', 'Adventure'],
 ["Children's", 'Comedy', 'Fantasy'],
 ['Comedy'],
 ['Drama'],
 ['Comedy'],
 ['Drama'],
 ['Action', 'Mystery', 'Thriller'],
 ['Drama'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Romance'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Drama'],
 ['Adventure', "Children's"],
 ['Comedy', 'Musical'],
 ['Comedy'],
 ['Drama'],
 ['Drama', 'Thriller'],
 ['Comedy'],
 ['Comedy'],
 ['Drama'],
 ['Action', 'Adventure', 'Thriller'],
 ["Children's", 'Comedy'],
 ['Comedy', 'Drama', 'Romance'],
 ['Action', 'Thriller'],
 ['Comedy'],
 ['Horror'],
 ['Horror'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Action', 'Adventure', 'Sci-Fi', 'Thriller'],
 ['Crime', 'Drama'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Comedy'],
 ['Drama'],
 ['Action', 'Crime', 'Drama'],
 ['Documentary'],
 ['Comedy'],
 ['Action', 'Thriller'],
 ['Drama'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Crime', 'Drama', 'Romance', 'Thriller'],
 ['Comedy', 'Crime'],
 ['Comedy'],
 ['Crime'],
 ['Comedy'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Crime', 'Drama'],
 ['Drama'],
 ['Action'],
 ['Drama'],
 ['Drama'],
 ['Horror'],
 ['Sci-Fi', 'Thriller'],
 ["Children's", 'Comedy'],
 ['Drama', 'Thriller'],
 ['Drama'],
 ["Children's", 'Drama', 'Fantasy'],
 ['Action'],
 ['Drama'],
 ['Animation', "Children's"],
 ['Romance'],
 ['Thriller'],
 ['Horror', 'Thriller'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama'],
 ['Romance'],
 ['Drama'],
 ['Drama'],
 ['Adventure', 'War'],
 ['Comedy', 'Romance'],
 ['Musical', 'Romance'],
 ['Musical', 'Romance'],
 ['Comedy', 'Musical'],
 ['Drama', 'Romance'],
 ['Mystery', 'Thriller'],
 ['Mystery', 'Thriller'],
 ['Comedy'],
 ['Mystery', 'Thriller'],
 ['Comedy', 'Musical', 'Romance'],
 ['Drama', 'Thriller'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Crime'],
 ['Comedy', 'Mystery', 'Romance', 'Thriller'],
 ['Drama', 'Romance', 'War'],
 ['Film-Noir', 'Mystery'],
 ['Musical', 'Romance'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Romance'],
 ["Children's", 'Drama'],
 ['Musical'],
 ['Adventure', "Children's", 'Drama', 'Musical'],
 ['Drama', 'Romance', 'War'],
 ['Comedy'],
 ['Film-Noir'],
 ['Drama'],
 ['Drama', 'Mystery', 'Sci-Fi', 'Thriller'],
 ['Adventure', 'Romance'],
 ['Drama'],
 ['Comedy'],
 ['Romance', 'Thriller'],
 ['Thriller'],
 ['Film-Noir', 'Romance', 'Thriller'],
 ['Mystery', 'Romance', 'Thriller'],
 ['Romance'],
 ['Comedy', 'Romance', 'Thriller'],
 ['Comedy'],
 ['Comedy', 'Musical'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Romance'],
 ['Musical'],
 ['Comedy', 'Drama'],
 ['Action', 'Adventure'],
 ['Adventure'],
 ['Crime', 'Film-Noir', 'Mystery'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Comedy', 'Musical', 'Romance'],
 ['Comedy', 'Drama', 'War'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Mystery'],
 ['Comedy'],
 ['Adventure', 'Comedy'],
 ['Drama'],
 ['Drama'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Comedy', 'Mystery'],
 ['Drama'],
 ['Crime', 'Drama'],
 ['Drama'],
 ['Crime', 'Drama'],
 ['Musical'],
 ['Western'],
 ['Thriller'],
 ['Drama'],
 ['Western'],
 ['Horror', 'Sci-Fi'],
 ['Action', 'Adventure', 'Romance', 'War'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Comedy', 'Musical'],
 ['Romance', 'War'],
 ['Mystery'],
 ['Drama'],
 ['Drama', 'War'],
 ['Action'],
 ['Drama'],
 ['Drama'],
 ['Romance'],
 ['Comedy', 'Drama'],
 ['Documentary'],
 ['Adventure', "Children's"],
 ['Drama', 'Romance'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Action', 'Adventure', 'Thriller'],
 ['Drama', 'War'],
 ['Thriller'],
 ['Drama'],
 ['Drama'],
 ['Action', 'Drama', 'Western'],
 ['Drama', 'Thriller'],
 ['Action', 'Crime'],
 ['Crime'],
 ['Crime'],

In [89]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))

In [90]:
all_genres

['Animation',
 "Children's",
 'Comedy',
 'Adventure',
 "Children's",
 'Fantasy',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Romance',
 'Adventure',
 "Children's",
 'Action',
 'Action',
 'Adventure',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Horror',
 'Animation',
 "Children's",
 'Drama',
 'Action',
 'Adventure',
 'Romance',
 'Drama',
 'Thriller',
 'Drama',
 'Romance',
 'Thriller',
 'Comedy',
 'Action',
 'Action',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Thriller',
 'Thriller',
 'Drama',
 'Sci-Fi',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Romance',
 'Adventure',
 'Sci-Fi',
 'Drama',
 'Drama',
 'Drama',
 'Sci-Fi',
 'Adventure',
 'Romance',
 "Children's",
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Documentary',
 'Comedy',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'War',
 'Action',
 'Crime',
 'Drama',
 'Drama',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Crime',
 'Thriller',
 'Animation',
 "Children's",
 'Musical',
 'Romance',
 'Drama',
 'Romance',
 'Crime',
 'Thriller',
 'Action',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 "Children's",
 'Comedy',
 'Drama',
 'Adventure',
 "Children's",
 'Fantasy',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Mystery',
 'Adventure',
 "Children's",
 'Fantasy',
 'Drama',
 'Thriller',
 'Drama',
 'Comedy',
 'Comedy',
 'Romance',
 'Comedy',
 'Sci-Fi',
 'Thriller',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Action',
 'Comedy',
 'Crime',
 'Horror',
 'Thriller',
 'Action',
 'Comedy',
 'Drama',
 'Drama',
 'Musical',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Sci-Fi',
 'Thriller',
 'Documentary',
 'Drama',
 'Drama',
 'Thriller',
 'Drama',
 'Crime',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Adventure',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Action',
 'Thriller',
 'Drama',
 'Drama',
 'Thriller',
 'Comedy',
 'Romance',
 'Drama',
 'Action',
 'Thriller',
 'Comedy',
 'Drama',
 'Action',
 'Thriller',
 'Documentary',
 'Drama',
 'Thriller',
 'Comedy',
 'Comedy',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Adventure',
 "Children's",
 'Comedy',
 'Musical',
 'Documentary',
 'Comedy',
 'Action',
 'Drama',
 'War',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Crime',
 'Drama',
 'Mystery',
 'Drama',
 'Comedy',
 'Documentary',
 'Crime',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Mystery',
 'Romance',
 'Drama',
 'Comedy',
 'Adventure',
 "Children's",
 'Fantasy',
 'Drama',
 'Documentary',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'Romance',
 'Thriller',
 'Comedy',
 'Drama',
 'Documentary',
 'Comedy',
 'Documentary',
 'Documentary',
 'Drama',
 'Action',
 'Drama',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Action',
 'Adventure',
 "Children's",
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'Drama',
 'Romance',
 'War',
 'Horror',
 'Action',
 'Adventure',
 'Comedy',
 'Crime',
 'Drama',
 'Drama',
 'War',
 'Comedy',
 'Comedy',
 'War',
 'Adventure',
 "Children's",
 'Drama',
 'Action',
 'Adventure',
 'Mystery',
 'Sci-Fi',
 'Drama',
 'Thriller',
 'War',
 'Documentary',
 'Action',
 'Romance',
 'Thriller',
 'Crime',
 'Film-Noir',
 'Mystery',
 'Thriller',
 'Action',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Action',
 'Adventure',
 'Drama',
 'Romance',
 'Adventure',
 "Children's",
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Action',
 'Sci-Fi',
 'Thriller',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Drama',
 'Comedy',
 'Horror',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 "Children's",
 'Drama',
 'Romance',
 'Thriller',
 'Drama',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Comedy',
 'Horror',
 'Comedy',
 'Thriller',
 'Drama',
 'Documentary',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Horror',
 'Sci-Fi',
 'Drama',
 'Action',
 'Crime',
 'Sci-Fi',
 'Drama',
 'Musical',
 'Thriller',
 'Drama',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 'Comedy',
 'Drama',
 'Documentary',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Drama',
 'Western',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Horror',
 'Drama',
 'Romance',
 'Comedy',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Thriller',
 'Thriller',
 'Action',
 'Comedy',
 'Drama',
 'Thriller',
 'Drama',
 'Thriller',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Romance',
 'Adventure',
 "Children's",
 'Animation',
 "Children's",
 'Comedy',
 'Romance',
 'Thriller',
 "Children's",
 'Drama',
 'Drama',
 'Musical',
 'Comedy',
 'Animation',
 "Children's",
 'Crime',
 'Drama',
 'Documentary',
 'Drama',
 'Fantasy',
 'Romance',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 "Children's",
 'Comedy',
 'Action',
 'Comedy',
 'Romance',
 'Drama',
 'Horror',
 'Drama',
 'Comedy',
 'Comedy',
 'Sci-Fi',
 'Mystery',
 'Thriller',
 'Adventure',
 "Children's",
 'Comedy',
 'Fantasy',
 'Romance',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Fantasy',
 'Sci-Fi',
 'Drama',
 "Children's",
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Romance',
 'War',
 'Western',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Drama',
 'Horror',
 'Comedy',
 'Comedy',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Thriller',
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Action',
 'Crime',
 'Drama',
 'Horror',
 'Action',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Romance',
 'Action',
 'Thriller',
 'Comedy',
 'Romance',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Drama',
 'Thriller',
 'Crime',
 'Drama',
 'Romance',
 'Thriller',
 'Comedy',
 'Romance',
 'Comedy',
 'Romance',
 'Crime',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Western',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Horror',
 'Thriller',
 'Comedy',
 'Animation',
 "Children's",
 'Drama',
 'Action',
 'Action',
 'Adventure',
 'Sci-Fi',
 "Children's",
 'Comedy',
 'Fantasy',
 'Drama',
 'Thriller',
 'Film-Noir',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Action',
 'Comedy',
 'Musical',
 'Sci-Fi',
 'Horror',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Horror',
 'Drama',
 'Horror',
 'Sci-Fi',
 'Comedy',
 'Drama',
 'Mystery',
 'Thriller',
 'Drama',
 'War',
 'Drama',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Romance',
 'Adventure',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 "Children's",
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Musical',
 'Drama',
 'Comedy',
 'Action',
 'Adventure',
 'Thriller',
 'Drama',
 'Mystery',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 'Romance',
 'Thriller',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Romance',
 'War',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Comedy',
 'Drama',
 'Romance',
 'Adventure',
 "Children's",
 'Romance',
 'Documentary',
 'Animation',
 "Children's",
 'Musical',
 'Drama',
 'Horror',
 'Comedy',
 'Crime',
 'Fantasy',
 'Action',
 'Comedy',
 'Western',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 "Children's",
 'Comedy',
 'Drama',
 'Action',
 'Thriller',
 'Action',
 'Romance',
 'Thriller',
 'Comedy',
 'Romance',
 'Action',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'Horror',
 'Western',
 'Action',
 'Drama',
 'Drama',
 'Action',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'War',
 'Action',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Adventure',
 "Children's",
 'Action',
 'Action',
 'Drama',
 'Drama',
 'Horror',
 'Documentary',
 'Drama',
 'Drama',
 'Action',
 'Thriller',
 'Comedy',
 'Comedy',
 'Crime',
 'Drama',
 'Documentary',
 'Action',
 'Sci-Fi',
 'Drama',
 'Horror',
 'Thriller',
 'Drama',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Comedy',
 'Comedy',
 'Thriller',
 'Western',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Action',
 'Comedy',
 'Adventure',
 "Children's",
 'Thriller',
 'Action',
 'Thriller',
 'Drama',
 'Drama',
 'Romance',
 'Horror',
 'Sci-Fi',
 'Thriller',
 'Mystery',
 'Romance',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Comedy',
 'Western',
 'Comedy',
 'Action',
 'Adventure',
 'Crime',
 'Comedy',
 'Sci-Fi',
 'Drama',
 'Thriller',
 'Comedy',
 'Action',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Action',
 'Sci-Fi',
 'Documentary',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Mystery',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 'Adventure',
 "Children's",
 'Drama',
 'Drama',
 'Action',
 'Thriller',
 'Drama',
 'Western',
 'Action',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Crime',
 'Thriller',
 'Action',
 'Drama',
 'War',
 'Action',
 'Comedy',
 'War',
 'Comedy',
 'Comedy',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'War',
 'Action',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Action',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Drama',
 'Thriller',
 'Thriller',
 'Drama',
 'Adventure',
 "Children's",
 'Action',
 'Comedy',
 'Comedy',
 'Comedy',
 'Western',
 'Drama',
 'Comedy',
 'Thriller',
 'Drama',
 'Comedy',
 'Mystery',
 'Action',
 'Crime',
 'Drama',
 'Action',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Action',
 "Children's",
 'Drama',
 'Action',
 'Sci-Fi',
 'Comedy',
 'Drama',
 'Action',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Action',
 'Drama',
 'Horror',
 'Sci-Fi',
 'Comedy',
 'Mystery',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'War',
 'Action',
 'Drama',
 'Mystery',
 'Comedy',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Crime',
 'Thriller',
 'Action',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'War',
 'Drama',
 'Drama',
 'Drama',
 "Children's",
 'Drama',
 'Comedy',
 'Crime',
 'Horror',
 'Action',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 'Thriller',
 'Film-Noir',
 'Sci-Fi',
 'Comedy',
 'Comedy',
 'Romance',
 'Thriller',
 'Action',
 'Drama',
 'Action',
 'Adventure',
 "Children's",
 'Sci-Fi',
 'Action',
 'Adventure',
 'Thriller',
 'Action',
 'Documentary',
 'Comedy',
 'Romance',
 "Children's",
 'Comedy',
 'Musical',
 'Action',
 'Adventure',
 'Comedy',
 'Western',
 'Thriller',
 'Action',
 'Crime',
 'Romance',
 'Documentary',
 'Drama',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Fantasy',
 'Comedy',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Horror',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Adventure',
 "Children's",
 'Drama',
 'Mystery',
 'Thriller',
 'Drama',
 'Documentary',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 "Children's",
 'Comedy',
 'Comedy',
 'Romance',
 'Thriller',
 'Animation',
 "Children's",
 'Comedy',
 'Musical',
 'Action',
 'Sci-Fi',
 'Thriller',
 'Adventure',
 ...]

In [91]:
genres = pd.unique(all_genres)
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [92]:
zero_matrix = np.zeros((len(movies), len(genres)))
dummies = pd.DataFrame(zero_matrix, columns=genres)
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now, iterate through each movie and set entries in each row of dummies to 1. To do this, we use the dummies.columns to compute the column indices for each genre:

(Page 209).

In [93]:
gen = movies.genres[0]
gen.split('|')

['Animation', "Children's", 'Comedy']

In [97]:
dummies.columns.get_indexer(gen.split('|'))

array([6, 9], dtype=int64)

Then, we can use .iloc to set values based on these indices:

(Page 210).

In [98]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

In [99]:
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [100]:
dummies.sum()

Animation      105.0
Children's     251.0
Comedy        1200.0
Adventure      283.0
Fantasy         68.0
               ...
War            143.0
Musical        114.0
Mystery        106.0
Film-Noir       44.0
Western         68.0
Length: 18, dtype: float64

Then, as before, you can combine this with movies:

(Page 210).

In [101]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

movie_id                                      1
title                          Toy Story (1995)
genres              Animation|Children's|Comedy
Genre_Animation                               1
Genre_Children's                              1
                               ...
Genre_War                                     0
Genre_Musical                                 0
Genre_Mystery                                 0
Genre_Film-Noir                               0
Genre_Western                                 0
Name: 0, Length: 21, dtype: object

A useful recipe for statistical applications is to combine get_dummies with a discreti‐ zation function like cut:

(Page 210).

In [102]:
np.random.seed(12345)
values = np.random.rand(10)
values
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

## String Manipulation

### String Object Methods

Python has long been a popular raw data manipulation language in part due to its ease of use for string and text processing. Most text operations are made simple with the string object’s built-in methods. For more complex pattern matching and text manipulations, regular expressions may be needed. pandas adds to the mix by ena‐ bling you to apply string and regular expressions concisely on whole arrays of data, additionally handling the annoyance of missing data.

(Page 211).

In [103]:
val = 'a,b,  guido'
val.split(',')

['a', 'b', '  guido']

split is often combined with strip to trim whitespace (including line breaks):

(Page 211).

In [105]:
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [106]:
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

But this isn’t a practical generic method. A faster and more Pythonic way is to pass a list or tuple to the join method on the string '::':

(Page 212).

In [107]:
'::'.join(pieces)

'a::b::guido'

In [110]:
'guido' in val

True

In [111]:
val.index(',')

1

In [112]:
val.find(':')

-1

Note the difference between find and index is that index raises an exception if the string isn’t found (versus returning –1):

(Page 212).

In [113]:
val.index(':')

ValueError: substring not found

In [114]:
val.count(',')

2

replace will substitute occurrences of one pattern for another. It is commonly used to delete patterns, too, by passing an empty string:

(Page 212).

In [115]:
val.replace(',', '::')

'a::b::  guido'

In [116]:
val.replace(',', '')

'ab  guido'

![T7-3](images/T7-3.png)

### Regular Expressions

Regular expressions provide a flexible way to search or match (often more complex) string patterns in text. A single expression, commonly called a regex, is a string formed according to the regular expression language. Python’s built-in re module is responsible for applying regular expressions to strings; I’ll give a number of examples of its use here.


The re module functions fall into three categories: pattern matching, substitution, and splitting. Naturally these are all related; a regex describes a pattern to locate in the text, which can then be used for many purposes. Let’s look at a simple example:

(Page 213).

In [118]:
import re
text = "foo    bar\t baz  \tqux"
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

When you call re.split('\s+', text), the regular expression is first compiled, and then its split method is called on the passed text. You can compile the regex yourself with re.compile, forming a reusable regex object:

(Page 214).

In [119]:
regex = re.compile('\s+')
regex

re.compile(r'\s+', re.UNICODE)

In [120]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

If, instead, you wanted to get a list of all patterns matching the regex, you can use the findall method:

(Page 214).

In [121]:
regex.findall(text)

['    ', '\t ', '  \t']

Creating a regex object with re.compile is highly recommended if you intend to apply the same expression to many strings; doing so will save CPU cycles. 

match and search are closely related to findall. While findall returns all matches in a string, search returns only the first match. More rigidly, match only matches at the beginning of the string. As a less trivial example, let’s consider a block of text and a regular expression capable of identifying most email addresses:

(Page 214).

In [133]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [135]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [123]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

search returns a special match object for the first email address in the text. For the preceding regex, the match object can only tell us the start and end position of the pattern in the string:

(Page 215).

In [125]:
m = regex.search(text)
m

In [126]:
text[m.start():m.end()]

'dave@google.com'

regex.match returns None, as it only will match if the pattern occurs at the start of the string:

(Page 215).

In [127]:
print(regex.match(text))

None

Relatedly, sub will return a new string with occurrences of the pattern replaced by the a new string:

(Page 215).

In [128]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

Suppose you wanted to find email addresses and simultaneously segment each address into its three components: username, domain name, and domain suffix. To do this, put parentheses around the parts of the pattern to segment:

(Page 215).

In [129]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [130]:
m = regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'net')

In [131]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [132]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

![T7-4](images/T7-4.png)

### Vectorized String Functions in pandas

Cleaning up a messy dataset for analysis often requires a lot of string munging and regularization. To complicate matters, a column containing strings will sometimes have missing data:

(Page 216).

In [151]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Rob        rob@gmail.com
Steve    steve@gmail.com
Wes                  NaN
dtype: object

In [152]:
data.isnull()

Dave     False
Rob      False
Steve    False
Wes       True
dtype: bool

You can apply string and regular expression methods can be applied (passing a lambda or other function) to each value using data.map, but it will fail on the NA (null) values. To cope with this, Series has array-oriented methods for string opera‐ tions that skip NA values. These are accessed through Series’s str attribute; for exam‐ ple, we could check whether each email address has 'gmail' in it with str.contains:

(Page 217).

In [153]:
data.str.contains('gmail')

Dave     False
Rob       True
Steve     True
Wes        NaN
dtype: object

In [154]:
pattern

'[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,4}'

In [155]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [dave@google.com]
Rob        [rob@gmail.com]
Steve    [steve@gmail.com]
Wes                    NaN
dtype: object

In [156]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Rob      True
Steve    True
Wes       NaN
dtype: object

In [157]:
matches.str.get(1)

Dave    NaN
Rob     NaN
Steve   NaN
Wes     NaN
dtype: float64

In [158]:
matches.str[0]

Dave    NaN
Rob     NaN
Steve   NaN
Wes     NaN
dtype: float64

In [159]:
data.str[:5]

Dave     dave@
Rob      rob@g
Steve    steve
Wes        NaN
dtype: object

![T7-5-1](images/T7-5-1.png)
![T7-5-2](images/T7-5-2.png)

In [160]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS

## Conclusion